<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="book details">
  <meta name="author" content="Faduma">
  <link href="https://fonts.googleapis.com/css?family=Anton|Jura&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <style>
  body {
      background-color: #f5f5f5;
      color: #333;
      font-family: 'Roboto', sans-serif;
      text-align: left;
      padding: 50px;
    }

    .card {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }

    .card-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .card-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .card-info-icon {
      margin-right: 5px;
    }

    .buttons {
      display: flex;
      align-items: center;
    }

    .delete,
    .update {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 8px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin-right: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .delete {
      background-color: #f44336;
    }

    .update:hover,
    .delete:hover {
      background-color: #333;
    }

 .home-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  button.home {
    background-color: transparent;
    border: none;
    color: #333;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .home-icon {
    margin-left: 5px;
  }
  </style>
</head>

<body>
<div class="home-container">
    <a href="/">
      <button class="home">
        <i class="fas fa-arrow-left home-icon"></i> Go Back Home
      </button>
    </a>
</div>


 <div class="card">
  <h1 class="card-title">{{title}}</h1>
  <div class="card-info">
    <i class="fas fa-book card-info-icon"></i>
    <p class="isbn">ISBN13: {{isbn}}</p>
  </div>
  <div class="card-info">
    <i class="fas fa-info-circle card-info-icon"></i>
    <p class="description">{{description}}</p>
  </div>

  <div class="buttons">
    <form action="/details/{{id}}/delete" method="post" onsubmit="return confirm('Are you sure you want to delete?')">
      <button type="submit" class="delete">
        <i class="fas fa-trash"></i> Delete
      </button>
    </form>
    <a href="/details/{{id}}/update">
      <button class="update">
        <i class="fas fa-edit"></i> Update
      </button>
    </a>
  </div>
</div>


</body>

</html>