<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="book details">
  <meta name="author" content="Faduma">
  <style>
    body {
      background-color: #f5f5f5;
      color: #333;
      font-family: 'Roboto', sans-serif;
      text-align: left;
      padding: 50px;
    }

    h1 {
      margin-bottom: 20px;
      font-size: 36px;
    }

    p {
      margin-bottom: 10px;
      font-size: 20px;
    }

    button.update,
    button.delete {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-right: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button.delete {
      background-color: #f44336;
    }

    button.update:hover,
    button.delete:hover {
      background-color: #333;
    }

    .isbn,
    .title {
      color: #333;
      font-weight: bold;
      font-size: 24px;
    }

    .details {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .image {
      margin-bottom: 30px;
    }

    .home {
      margin-right: 10px;
    }

    .buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    @keyframes button-animation {
      0% { transform: translateY(0); }
      50% { transform: translateY(-5px); }
      100% { transform: translateY(0); }
    }

    .update, .delete {
      animation: button-animation 1s infinite;
    }
</style>
</head>
<body>
  <div class="details">
    <h1>{{title}}</h1>
    <p class="isbn">ISBN13: {{isbn}}</p>
    <p class="description">{{description}}</p>
    
    <br>
    <br>
    <br>
    <form action="/details/{{id}}/delete" method="post">
      <button type="submit" class="delete">Delete</button>
    </form>
    <br>
    <br>
    <div>
      <a href="/details/{{id}}/update"><button class="update">Update</button></a>
      <a href="/"><button class="update">Home</button></a>
    </div>
  </div>
</body>
</html>
