<!DOCTYPE html>
<html>

<head>
	<title>My Favourite Books</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	<link href="css/style.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<div class="container">
				<a class="navbar-brand" href="#"><i class="fas fa-book"></i> {{title}}</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Logout</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/form">Add a book</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<input type="checkbox" id="switch" /><label for="switch">Toggle</label>

	</header>
	<main>
		<section class="card-container">
			{{#if query}}
			<p>Showing results for "{{query}}"</p>
			{{/if}}
			{{#each books}}
			<div class="card">
				<h2>{{this.title}}</h2>
				<p>{{this.description}}</p>
				<p><a href="/details/{{this.id}}">Read more</a></p>
			</div>
			{{/each}}
		</section>
		<section class="add-book">
			<a href="/form" class="add-book-link"><i class="fas fa-plus"></i> Add a Book</a>
		</section>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<script>
			$(document).ready(function () {
				var isDark = false; // Set isDark to false to start with the light mode

				var themeButtonEl = $('#switch');
				themeButtonEl.on('click', function () {
					if (isDark) {
						$('body').css({ 'background-color': '#FFFFFF', color: '#1a1a1a' });
						$('.card').css({ 'background-color': '#FFFFFF', color: '#000000' });
						isDark = false;
					} else {
						$('body').css({ 'background-color': '#1a1a1a', color: '#FFFFFF' });
						$('.card').css({ 'background-color': '#1a1a1a', color: '#FFFFFF' });
						isDark = true;
					}
				});
			});
		</script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


	</main>
	<footer>
		<p>&copy; 2023 My Favourite Books. All rights reserved.</p>
	</footer>
</body>

</html>